/* body {
  font-family: Arial, sans-serif;
  outline: solid 2PX RED;
}

table {
  width: 100%;
  border-collapse: collapse;
  outline: solid 2PX RED;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  outline: solid 2PX RED;
}

th {
  background-color: #f4f4f4;
  outline: solid 2PX RED;
} */
